@import "tailwindcss";

@theme {
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-primary: #0ea5e9;
  --color-primary-glow: #38bdf8;

  --font-sans: 'Inter', sans-serif;

  --animate-pulse-glow: pulse-glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-glow {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: .5;
    }
  }
}

:root {
  background-color: var(--color-slate-900);
  color: #e2e8f0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-slate-900);
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

html {
  scroll-behavior: smooth;
}